.task__input {
  background-color: var(--gray-500);
  width: 100%;
  height: 3.56rem;

  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;

  transition: 0.2s ease-in-out;

}

.task__input:focus:focus-visible {
  border: 1px solid var(--purple-dark);
  outline: none;
}

@media(max-width: 768px) {
  .task__input {
    font-size: larger;
  }
}